/application/config/database.php
/application/config/config.php
/.htaccess
/assets/cache/*
/uploads/*.jpg
/uploads/*.gif
/uploads/*.png
/application/cache/*
/vendor/

# IDE Files
/.vscode/

application/logs/log-2017-11-07.php
